{% extends 'base.html' %}

{% block title %}
Вход в аккаунт
{% endblock %}

{% block body %}
<div class="container text-center border-bottom mb-5 pt-4">
    <h1>Вход в аккаунт</h1>
</div>
<div class="d-flex align-items-center">
    <main class="form-signing form-control py-4 px-3 m-auto mb-5 bg-secondary-subtle" style="max-width: 400px;">
        <form method="post">
            {{ form.hidden_tag() }}

                {% for message in get_flashed_messages() %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

            <div class="form-floating">
                {{ form.email(class="form-control mb-2", id="floatingInput", placeholder="") }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <label for="floatingInput">Введите ваш e-mail</label>
            </div>

            <div class="form-floating">
                {{ form.password(class="form-control mb-4", id="floatingPassword", placeholder="") }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ error }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
                <label for="floatingPassword">Введите ваш пароль</label>
            </div>

            {{ form.button(class="btn btn-custom-black") }}
        </form>
    </main>
</div>
{% endblock %}