{% extends 'base.html' %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="mb-5"></div>
<div class="container mb-5">
    <div class="image-title text-center">
        <img class="img-fluid image-title2" src="{{ url_for('static', filename='media/gallery/about_us.jpg') }}" style="height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
    </div>
    <div class="text-center justify-content-center border-bottom">
        <h1 class="display-2 text-black w-100">О нас</h1>
    </div>
</div>

<div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}

    {% for article in articles %}
        <div class="px-5">
            <div class="form-control bg-secondary-subtle mx-5 px-3">
                <h1>{{ article.title }}</h1><br>
                <h3>{{ article.intro }}</h3>
                <div class="mb-3"></div>
                <a href="/article/{{article.id}}" class="btn btn-custom-black">Открыть</a>
                <a href="/article/edit/{{article.id}}" class="btn btn-custom-black">Редактировать</a>
                <a href="/article/delete/{{article.id}}" class="btn btn-custom-black">Удалить</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}