{% extends 'base.html' %}

{% block title %}
Добавить статью
{% endblock %}

{% block script %}
{% endblock %}


{% block body %}
<div class="container text-center border-bottom mb-5 pt-4">
    <h1>Добавить статью</h1>
</div>
<div class="container d-flex align-items-center">
    <main class="form-control py-4 px-3 m-auto mb-5 bg-secondary-subtle">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            {% for message in get_flashed_messages() %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}

            {{ form.title.label(class="mb-2") }}
            {{ form.title(class="form-control mb-3") }}
            {{ form.intro.label(class="mb-2") }}
            {{ form.intro(class="form-control mb-3") }}
            {{ form.content(id="editor") }}
            <div class="mb-4"></div>
            {{ form.tag.label(class="mb-2") }}
            {{ form.tag(class="form-select mb-4") }}<br>
            {{ form.button(class="btn btn-custom-black") }}
        </form>
        {{ ckeditor.load() }}
        {{ ckeditor.config(name='content') }}
    </main>
</div>
{% endblock %}
{% block init %}
<script>
    CKEDITOR.replace( 'editor', {
    versionCheck: false
} );
</script>
{% endblock %}
