{% extends 'base.html' %}

{% block title %}
Black Library
{% endblock %}

{% block body %}
<!-- main -->
<div class="mb-5"></div>
<div class="container mb-5">
    <div class="image-title text-center">
        <img class="img-fluid image-title2" src="{{ url_for('static', filename='media/gallery/black_library.jpg') }}" style="height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
    </div>
    <div class="text-center justify-content-center border-bottom">
        <h1 class="display-2 text-black w-100">Black Library</h1>
    </div>
</div>
{% endblock %}