{% extends 'base.html' %}

{% block title %}
События
{% endblock %}

{% block body %}
    <div class="mb-0 mb-sm-5"></div>
    <!-- title -->
    <div class="container mb-3 mb-sm-4">
        <div class="image-title text-center">
            <img class="img-fluid image-title2" src="{{ url_for('static', filename='media/gallery/info.jpg') }}" style="height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
        </div>
        <div class="text-center justify-content-center border-bottom">
            <h1 class="display-2 text-black w-100">Cобытия</h1>
        </div>
    </div>

    <div class="mb-3 mb-sm-5">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}

        {% for article in articles %}
            <div class="container d-flex align-items-center px-2 px-sm-5 mb-4">
                <div class="form-control bg-secondary-subtle py-4 ps-2 ps-sm-5">
                    <div class="mb-2">
                        <h1>{{ article.title }}</h1>
                    </div>
                    <div class="mb-3">
                        {{ article.intro }}
                    </div>
                    <div class="mb-3"></div>
                    <a href="/article/{{article.id}}" class="btn btn-custom-black">Открыть</a>
                    {% if current_user.is_authenticated %}
                        <a href="/article/edit/{{article.id}}" class="btn btn-custom-black">Редактировать</a>
                        <a href="{{ url_for('article.delete_article', id=article.id, next=request.url) }}" class="btn btn-outline-dark">Удалить</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
