{% extends 'base.html' %}

{% block title %}
Список администраторов
{% endblock %}

{% block body %}

<div class="container text-center border-bottom mb-5 pt-4">
    <h3>Список пользоваетелей</h3>
</div>
<div class="container mb-5">
{% for user in users %}
    <ul class="list-group mb-3">
      <li class="list-group-item d-flex justify-content-between lh-sm">
        <div class="text-truncate" style="max-width: 100%;">
            <h6 class="my-0 d-block">{{ user.username }}</h6>
            <small class="text-body-secondary">{{ user.email }}</small>
        </div>
      </li>
    </ul>
{% endfor %}
  </div>

<div class="container d-flex mb-5 gap-3">
    <a role="button" class="btn btn-custom-black" href="/article">Создать статью</a>
    <a role="button" class="btn btn-custom-black" href="/content">Добавить материалы</a>
</div>

{% endblock %}