{% extends 'base.html' %}

{% block title %}
Warhammer 40000
{% endblock %}

{% block body %}
<!-- main -->
    <div class="mb-5"></div>
    <div class="container mb-5">
        <div class="image-title text-center">
            <img class="img-fluid image-title2" src="{{ url_for('static', filename='media/gallery/Imperator-Rex.png') }}" style="height: auto; width: 50%; object-fit: cover; position: relative;" alt="">
        </div>
        <div class="text-center justify-content-center border-bottom">
            <h1 class="display-2 text-black w-100">Warhammer 40.000</h1>
        </div>
    </div>
    <div class="bg-secondary" style="padding-top: 10px; padding-bottom: 10px;">
        <div class="container text-center px-5">
            <h3 class="text-white">Warhammer 40000</h3>
        </div>
    </div>
    <div class="container mb-5">
        <div class="row d-flex">
            <div class="col-3 d-flex flex-column align-items-center">
                <img class="mb-2 position-relative img-fluid" src="{{ url_for('static', filename='media/icons/munitorum_fm.png') }}">
                <a role="button" class="btn btn-warning" href="https://warcomprod2024productionstorage.s3.eu-west-2.amazonaws.com/warhammer40000_core&key_munitorumfieldmanual_eng_24.09-y26xza2pun.pdf" target="_blank">Скачать</a>
            </div>
            <div class="col-3 d-flex flex-column align-items-center">
                <img class="mb-2" src="{{ url_for('static', filename='media/icons/pariah_nexus.png') }}">
                <a role="button" class="btn btn-warning" href="https://warcomprod2024productionstorage.s3.eu-west-2.amazonaws.com/warhammer40000_core&key_pariahnexustournamentcompanion_eng_24.09-zg76uhxiwd.pdf" target="_blank">Скачать</a>
            </div>
            <div class="col-3 d-flex flex-column align-items-center">
                <img class="mb-2" src="{{ url_for('static', filename='media/icons/cr_updates.png') }}">
                <a role="button" class="btn btn-warning" href="https://warcomprod2024productionstorage.s3.eu-west-2.amazonaws.com/warhammer40000_core&key_corerulesupdate&commentary_eng_24.09-lyrhcoyn9s.pdf" target="_blank">Скачать</a>
            </div>
            <div class="col-3 d-flex flex-column align-items-center">
                <img class="mb-2" src="{{ url_for('static', filename='media/icons/balance_dataslate.png') }}">
                <a role="button" class="btn btn-warning" href="https://warcomprod2024productionstorage.s3.eu-west-2.amazonaws.com/warhammer40000_core&key_balancedataslate_eng_24.09-fovfk3cysi.pdf" target="_blank">Скачать</a>
            </div>
            <div class="col-3 d-flex flex-column align-items-center">
                <img class="mb-2" src="{{ url_for('static', filename='media/icons/quick_start.png') }}">
                <a role="button" class="btn btn-warning" href="https://warcomprod2024productionstorage.s3.eu-west-2.amazonaws.com/warhammer40000_core&key_quickstartguide_eng_24.09-s2afk26smk.pdf" target="_blank">Скачать</a>
            </div>
            <div class="col-3 d-flex flex-column align-items-center">
                <img class="mb-2" src="{{ url_for('static', filename='media/icons/core_rules.png') }}">
                <a role="button" class="btn btn-warning" href="https://warcomprod2024productionstorage.s3.eu-west-2.amazonaws.com/warhammer40000_core&key_corerules_eng_24.09-5xfayxjekm.pdf" target="_blank">Скачать</a>
            </div>
        </div>
    </div>
{% endblock %}
